language: go
go:
  - tip
install:
  - go get ./...
script:
  - go test -coverprofile=coverage.txt -covermode=atomic
  - go tool cover -func=coverage.txt | tail -n 1
after_success:
  - bash <(curl -s https://codecov.io/bash)âŽ